/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
}

header {
	height: 291px;
    width: 920px;
    background-color: #06365f;
}

 nav {
 	text-align: center; 
	color: #1c5380;
	clear: both;
 }

header img {
	margin-top: 177px;
    margin-right: 240px;
    float: right;
}

.phone {
    background-size: 454px 618px;
    float: left;
    position: absolute;
    top: 100px;
    margin-left: 20px;
}

div {
	float: right;
	position: relative;
	display: inline-block;
	line-height: 20px;
	height: 400px;
	width: 400px

}

